<!doctype html>
<html lang="en">
<head>
<title>RPi Grades</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>
<header>
    <div class="container" style="max-width:900px;margin-top:40px;">
        <div class="jumbotron">
            <h1>Whoops!</h1>
            <p>Page not found. (404)</p>
            <p>
                <div style="max-width:200px;">
                    <a href="javascript:javascript:history.go(-1)" style="text-decoration:none;"> 
                        <button class="btn btn-lg btn-block btn-warning">Take me back!</button>
                    </a>
                </div>
            </p>
        </div>
    <div>
</header>
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
