<!doctype HTML>
<html lang="en">
<head>
<title>RPi Grades</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>
<header>
    <div class="container" style="max-width:900px;margin-top:40px;">
        <div class="jumbotron">
            <h1>Admin Page</h1>
        </div>
    </div>
</header>
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="container" style="max-width:900px;margin-top:40px;">
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form method="POST" action="" class="form-inline">
        <button type="submit" class="btn btn-info">Log out</button>
        <input type="hidden" name="form_name" value="logout">
    </form>
    <p><h3>Register users</h3></p>
    <p>The default password is "password"</p>
    <div style="padding-left:15px;">
        <form class="form-inline" method="POST" action="">
            <input class="form-control" type="text" name="new_username" id="new_username"
                placeholder="New Username" value="">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="is_teacher" id="is_teacher" value="1"> Is this user a teacher?
                </label>
            </div>
            <br> <!-- <- blatant misuse of bootstrap -->
            <input class="form-control" type="text" name="new_id" id="new_id" placeholder="New ID" value="">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="is_admin" id="is_admin" value="1"> Is this user an admin?
                </label>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Register</button>
            <input type="hidden" name="form_name" value="register">
            <!-- form type, used for logic stuff -->
        </form>
    </div>
    <p><h3>Remove users</h3></p>
    <p>Remove a user from the user database. This does not remove their grade, attendance, or schedule data.<br>
       <b>Removal of a user is permanent. </b>There is no way to restore a user to the database without
       knowing their ID and username.<br><br>Only proceed if you are certain you want to do this.</p>
    <div style="padding-left:15px;">
        <form class="form-inline" method="POST" action="">
            <input class="form-control" type="text" name="rm_username" id="rm_username" placeholder="Username" value="">
            <br>
            <input class="form-control" type="text" name="user_id" id="user_id" placeholder="User ID" value="">
            <button type="submit" class="btn btn-danger"><strong>Remove user</strong></button>
            <input type="hidden" name="form_name" value="remove">
        </form>
    </div>
    <p><h3/>Create databases</h3></p>
    <div style="padding-left:15px;">
        <p>
            <form method="POST" action="" class="form-inline">
                This will create new databases if they do not already exist. This must
                be pressed in order to begin working.<br>
                <button type="submit" class="btn btn-warning">Create</button>
                <input type="hidden" name="form_name" value="databases">
            </form>
        </p>
    </div>
    <p><h3>Change ADMIN Password</h3></p>
    <p>This will change the admin password for the current account.</p>
    <div style="padding-left:15px;">
        <p>
            <form method="POST" action="" class="form-inline">
                <input class="form-control" type="password" name="admin_new_pass", id="admin_new_pass"
                    placeholder="New Password">
                <input class="form-control" type="password" name="admin_new_pass2", id="admin_new_pass2"
                    placeholder="New Password (repeat)">
                <input class="form-control" type="password" name="admin_old_pass", id="admin_old_pass"
                    placeholder="Old Password">
                <button type="submit" class="btn btn-warning">Change</button>
                <input type="hidden" name="form_name" value="admin_pass">
            </form>
        </p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
</body>
</html>


