<!doctype HTML>
<html lang='en'>
    <head>
        <title>Admin</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width,initial-scale-1">
        <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    </head>
    <header>
        <div class="container" style="margin-left:15%; margin-right:15%; margin-top:40px;">
            <div class="jumbotron">
                <h1>Admin Login</h1>
                <p>Students will face serious penalty for trying to enter the admin page.</p>
                <div class="container" style="max-width:500px;align:none;">
                    <form method="post" action="">
                        <input class="form-control" type="text" name="admin_username" id="admin_username"
                            placeholder="Admin Username" value="{{request.form.username}}"><br>
                        <input class="form-control" type="text" name="admin_password" id="admin_password"
                            placeholder="Password" value="{{request.form.username}}"><br>
                        <button type="submit" class="btn btn-info btn-block">Log in</button>
                        <a href="javascript:javascript:history.go(-1)" style="text-decoration:none;">
                            <button class="btn btn-warning btn-block">Back</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </header>
</html>
