<!doctype HTML>
<html lang="en">
<head>
<title>RPi Grades</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>
<header>
    <div class="container" style="max-width:900px;margin-top:40px;">
        <div class="jumbotron">
            <h1>Admin Page</h1>
        </div>
    </div>
</header>
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="container" style="max-width:900px;margin-top:40px;">
    <div class="container-fluid" style="min-height:100%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <p><h3>Register/remove users</h3></p>
    <p>The default password is "default"</p>
    <form method="POST" action="" class="form-inline">
        <input class="form-control" type="text" name="new_username" id="new_username"
            placeholder="New Username" value="">
        <button type="submit" class="btn btn-info">Register</button>
        <input type="hidden" name="form_name" value="register">
        <!-- form type, used for logic stuff -->
    </form>
    <p><h3/>Create databases</h3></p>
    <p>
        <form method="POST" action="" class="form-inline">
            This will create new databases if they do not already exist. This must
            be pressed in order to begin working:
            <button type="submit" class="btn btn-warning">Create</button>
            <input type="hidden" name="form_name" value="databases">
        </form>
    </p>
</div>
</body>
</html>


