<!doctype HTML>
<!-- TODO: Change name -->
<html lang="en">
<head>
<title>RPi Grades</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>
<header>
    <div class="container" style="max-width:900px;margin-top:40px;">
        <div class="jumbotron">
            <h1>Hello, school!</h1>
            <p>Keep up the good work.</p>
            <p>
                <div style="max-width:200px;">
                    <button class="btn btn-info btn-block" data-toggle="modal" data-target="#studentLoginModal"
                        style="margin-bottom:10px;" role="button">Grades</button>
                </div>
                <div style="max-width:200px;">
                    <a class="btn btn-block btn-warning" data-toggle="modal" data-target="#teacherLoginModal">I'm a teacher</a>
                </div>
            </p>
        </div>
        <div class="container-fluid" style="min-height:100%">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- student login form modal -->
        <div class="modal fade" id="studentLoginModal" tabindex="-1" role="dialog" aria-labelledby="LogInTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" method="post" action=""> 
                            <input class="form-control" type="text" name="student_username"
                                id="student_username" placeholder="Student ID" value="{{request.form.username}}">
                            <input class="form-control" type="password" name="student_password"
                                id="student_password" placeholder="Password" value="{{request.form.password}}">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <input type="hidden" name="isteacher" value="false">
                        </form>
                    </div>
                    <p>{{error}}</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- teacher login form modal -->
        <div class="modal fade" id="teacherLoginModal" tabindex="-1" role="dialog" aria-labelledby="LogInTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" method="post" action=""> 
                            <input type="text" name="teacher_username" id="teacher_username" placeholder="Teacher ID">
                            <input type="password" name="teacher_password" id="teacher_password" placeholder="Password">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <input type="hidden" name="isteacher" value="true">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

