{% extends "logged-in-header.html" %}

{% block body %}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
        <li role="presentation"><a href="#attendance" aria-controls="profile" role="tab" data-toggle="tab">Attendance</a></li>
        <li role="presentation"><a href="#schedule" aria-controls="messages" role="tab" data-toggle="tab">Schedule</a></li>
        <li role="presentation"><a href="#transcript" aria-controls="settings" role="tab" data-toggle="tab">Transcript</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="summary">
        three c's you scrub
        </div>
        <div role="tabpanel" class="tab-pane fade" id="attendance">
        come to school you truant
        </div>
        <div role="tabpanel" class="tab-pane fade" id="schedule">
        not even hard classes wow
        </div>
        <div role="tabpanel" class="tab-pane fade" id="transcript">
        i'd be surprised if you got into chattahoochee tech
        </div>
    </div>

</div>

{% endblock %}
